USE [C114_alan.e.george86_gmail]
GO
/****** Object:  UserDefinedTableType [dbo].[SkillsInsert]    Script Date: 4/30/2022 11:26:56 AM ******/
CREATE TYPE [dbo].[SkillsInsert] AS TABLE(
	[Name] [nvarchar](100) NOT NULL
)
GO
